* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/APT-Trainz/images/APT-Home\ Screen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    color: #333;
    position: relative;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #212222, #001d42);
    color: white;
    text-align: left;
    padding: 20px;
    margin-bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    /* max-width: 1200px; */
}

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 1px 1px 5px black;
}

.text-container {
    flex: 1;
}

.text {
    border-bottom: 3px solid white;
}

.des {
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.nav-links a {
    text-decoration: none;
    margin: 5px 20px;
    color: white;
    position: relative;
    padding: 5px 0;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: red;
    transition: width .3s ease;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

.manage, .manage-1 {
    padding: 20px;
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
}

.manage {
    background-color: white;
}

.manage-1 {
    background-color: rgb(23, 23, 23);
    color: rgb(199, 199, 199);
    text-align: end;
}

.manage-1 a {
    text-decoration: underline;
    color: rgb(199, 199, 199);
}

.manage ul {
    list-style-type: disc;
    padding-left: 20px;
}

.manage ul li {
    margin: 10px 0;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .image {
        margin-bottom: 10px;
    }

    .navbar, .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        margin: 5px 0;
    }

    .manage, .manage-1 {
        margin: 20px 10px;
        padding: 15px;
    }
}
